body {
    background-color:#178d99;
}

.Head {
    display:block;
    text-align: center;

}


/* #ffaacc */

button {
    align-self: center;
}

#imgicon {
    width: 90px;
    height: 90px;
    float: left;
 }
 
 
#userentry{
    float: center;
    height:300px;
    width:300px;
    /* background-color:#178d99; */
    /* position:absolute; */
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    }

    #idCard {
        border: 5px solid black;
        height: 14em;
        width: 25em;
        background-color: #ffaacc;
        /* position: relative; */
        border-radius: 15% 15% 15% 15%;
        margin: auto;
        top:0;
        left:0;
        right:0;
        bottom:0;
        /* float: bottom; */
        /* vertical-align: center; */
        margin-top: 200px;

    }

#postFullName    {
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium';
    

}